{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row text-start">
        <div class="col-lg-9 col-md-6 col-sm-12">
            <div class="card mb-4 box-shadow">
                <div class="card-body">
                    <table class="table table-striped">
                        <form method="post">
                        {% csrf_token %}

                            <p> Хотите удалить материал блога {{ object.name }}</p>
                            <button type="submit" class="btn btn-danger"> Подтвердить </button>
                            <a href="{% url 'blog:view' object.pk %}"
                               class="btn btn-success"> Отменить </a>
                        </form>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}