{% extends 'base.html' %} {# расширение базового шаблона #}
{% block content %}
<form method="post" enctype="multipart/form-data" action="" class="form-floating">
    {% csrf_token %}
        <div class="card-body">
            {{form.as_p}}

            <input class="btn btn-outline-primary w-100" type="submit" value="Вход" />
        </div>
        <div class="card-body">
            {{ formset.management_form }}
            {% for form in formset.forms %}
                {{ form.as_p }}
            {% endfor %}

        </div>

</form>
<script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock %}