
{% extends 'base.html' %}
{% block content %}

<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h1 class="display-4">Интернет-магазин</h1>
    <p class="lead">Интернет-магазин - это отличный вариант продать</p>
</div>

{% for object in object_list %}
    <table class="table table-striped">
            <tr>
                <a class="p-2 btn btn-outline-primary" href="/product/{{ object.pk }}/">
                    {{ object.name }}
                </a>
                <img src="{{ object.imd.url}}">
                <div> {{ object.desc|slice:":100" }} </div>
            </tr>
    </table>
{% endfor %}

<script src="/static/js/bootstrap.bundle.min.js"></script>
{% endblock %}